mixin videos(video)
    div 
        h4
            a(href=`/videos/${video.id}`)=video.title
        ul
            li #{video.likes} #{video.likes === 1 ? "like" : "likes"}
            li #{video.comments}
            li Posted #{video.createdAt}. 
            li #{video.views} #{video.views === 1 ? "view" : "views"}

