mixin videos(video)
    div 
        hr
        h4
            a(href=`/videos/${video.id}`)=video.title
        div
            span #{video.views} #{video.views === 1 ? "view" : "views"}
            span #{video.likes} #{video.likes === 1 ? "like" : "likes"}
        small Posted #{video.createdAt}.
        div
            each hashtag in video.hashtag
                small=hashtag
        hr